<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Train Booking</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:navy">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="/train/">Train Management System</a>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: skyblue">
		<div class="container-fluid">
			
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" >
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="userHome">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="TrainListUser">Search Train</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="#">Booking</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="MyProfile">My Profile</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="#">Change Password</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="setLogout">Logout</a></li>
				</ul>
			</div>
			<div style="text-align: center;">
				<a class="nav-link text-white" href="adminHome">Contact Us</a>
			</div>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkblue">
		<div class="container-fluid">
			<h6 style="color:white ">Book Seat<h6>
		</div>
	</nav>
	<div class="container my-5 p-5" style="border: 2px solid black;">
		<form  th:action=@{/BookedSeat} method="post" style="background-color: white;">
			<h1 style="text-align: center; color: Skyblue; border-bottom: inset;">Booking</h1>
			<a style="color: green">check-></a><a style="color: red">-Booking->-Payment</a>
			<div class="mb-3">
			<label for="name" class="form-label">Name:-</label>
			<input type="text"name="name" required th:value="${user1.name}" style="border: hidden;">
			<br>
				<label for="trainno" class="form-label">Train No:-</label>
				<input type="text"name="trainno" required th:value="${train.train_no}"  style="border: hidden;">
				<label for="t_name" class="form-label">Train Name:-</label>
				<input type="text"name="t_name" required th:value="${train.name}" style="border: hidden;">
			<br>
				<label for="t_from" class="form-label">From:-</label>
				<input type="text" name="t_from" required th:value="${train.t_from}"  style="border: hidden;">
				&#160&#160&#160&#160
				<label for="t_to" class="form-label">To:-</label>
				<input type="text" name="t_to" required th:value="${train.t_to}"  style="border: hidden;">
			<br>
				<label for="adult" class="form-label">Adult:-</label>
				&#160&#160&#160&#160
				&#160&#160&#160&#160
				&#160&#160&#160&#160
				&#160&#160&#160&#160
				&#160&#160&#160&#160
				&#160&#160&#160&#160&#160&#160
				<label for="child" class="form-label">Child:-</label><br>
				<input type="number" name="adult" th:value="0">
				<input type="number" name="child" th:value="0">
			</div>
			
			<button  type="submit" class="btn btn-primary">Save</button>
			<label class="form-label">OR</label>
			<button onclick="window.location.href='https:TrainListUser';" class="btn btn-primary">Cancel</button>
		</form>
	</div>	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>
